<p><%= notice %></p>
<h1>blog一覧</h1>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
        <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
          <td><%= link_to '編集する', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか?' } %></td>
          <td><%= link_to '削除する', blog_path(blog.id) ,method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Create', new_blog_path %>
