
<p><%= notice %></p>
<h2><%= @blog.user.name %>さんのBlog詳細内容</h2>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@blog.image.url) %>
</p>
