<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to 'Blog Index', blogs_path %></li>
        <li><%= link_to 'New Blog', new_blog_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'Profile', user_path(current_user.id) %></li>
          <li><%= link_to 'Log out', session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_path %></li>
          <li><%= link_to 'Log In', new_session_path %></li>
        <% end %>
      </ul>

    </header>
    <hr>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>
    <%= yield %>
  </body>
</html>
